<h3>{{viewTitle}}</h3>

<form action="/student" method="POST">
    <input type="hidden" name="_id" value="{{student._id}}">
    <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" class="form-control" name="fullName" value="{{student.fullName}}">
        <div class="text-danger">
            {{student.fullNameError}}
        </div>
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email" value="{{student.email}}">
        <div class="text-danger">
            {{student.emailError}}
        </div>
    </div>

    <div class="form-group">
        <label for="">Task Description</label>
        <input type="text" class="form-control" name="description" value="{{student.description}}">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondary" href="/student/list"><i class="fa fa-list-alt"></i>View All</a>
    </div>
</form>